.recommended-card-list {
  max-height: 320px;
}
.recommended-card-image {
  height: 200px;
  width: 170px;
}
.city-name-and-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
}
.event-name {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  max-width: 120px;
}
.date {
  font-size: 10px;
  color: #989090;
}
.location-weather-container {
  display: flex;
  justify-content: space-between;
}
.city-name {
  font-size: 12px;
  margin-top: 0;
  color: #989090;
  width: 150px;
}
.location-icon-light {
  font-size: 14px;
  color: #fff;
}
.weather-and-distance {
  font-size: 10px;
  margin-top: 0;
  color: #989090;
}
.city-image {
  height: 300px;
  width: 225px;
  margin: 0;
  padding: 0;
}
.image-caption {
  position: relative;
  top: -100px;
  max-width: 225px;
  padding: 0 15px;
}
