.upcoming-event-list {
  border: 1px solid #b0babf;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Inter";
  max-height: 300px;
  padding: 5px;
  width: 270px;
}
@media screen and (min-width: 768px) {
  .upcoming-event-list {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.event-image {
  width: 270px;
}
.event-date {
  background-color: #1e2022;
  color: #fff;
  font-size: 14px;
  position: relative;
  top: -50px;
  line-height: 30px;
  opacity: 80%;
  padding-left: 5px;
}
.event-image-caption {
  position: relative;
  top: -40px;
  padding-left: 5px;
  padding-right: 5px;
}
.upcoming-event-name {
  font-size: 18px;
  font-weight: 600;
  color: #1e2022;
  margin-bottom: 0;
}
.event-location-and-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-location {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #989090;
}
.location-icon-dark {
  margin-right: 5px;
  font-size: 18px;
}
.event-weather {
  font-size: 14px;
  color: #989090;
}
